@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');

body {
    background-color: lightgray;
    font-family: 'Nanum Gothic', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

/* box-shadow를 통한 그림자 추가
    border-radius를 width 값의 절반으로 맞추면 원을 만들 수 있음
*/

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 300px;
    height: 20px;
    margin: 10px;
    font-size: large;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

header h1 {
    display: flex;
    flex-direction: column;
}

/* 그림이 그려질 그림판 */
.canvas {
    width: 600px;
    height: 600px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

/* 색깔 등의 버튼 틀 */

.controls {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls .controls_btns {
    margin-bottom: 20px;
    cursor: pointer;
}

/* .controls_btns 클래스 내의 버튼
    all: unset;을 통해 버튼의 기본 설정을 지움
*/

.controls_btns button {
    all:unset;
    margin-left: 50px;
    margin-right: 50px;
    padding: 5px 0px;
    text-align: center;
    width: 100px;
    height: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    opacity: 0.755;
}

/* 버튼 활성화가 되었을 때(눌렀을 때) 효과 
    클릭되는 감각이 느껴지도록 축소됨 = transform: scale(비율);
*/

.controls_btns button:active {
    transform: scale(0.8);

}

.controls .controls_colors {
    display: flex;
}

/* 색깔 버튼, cursor 포인터 */

.controls_colors .controls_color {
    margin: 3px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    cursor: pointer;
}

.controls_colors .controls_color:active {
    transform: scale(0.95);
}